@import "tailwindcss";
/* Width of the scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track (background) */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #5c5f69; /* Applying the color to the track */
    border-radius: 10px;
  }
  
  /* Handle (scroll thumb) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid transparent; /* Space around the thumb */
    background-clip: content-box;
    background: #3F424D; /* Applying the color to the thumb */
  }
  
  /* Handle on hover */
  .custom-scrollbar ::-webkit-scrollbar-thumb:hover {
    background: #5A5D6A; /* A lighter shade for hover effect */
  }
 
  
  .slide-content {
    background: #f4f4f4;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    color: black;
  }
  
  .swiper {
    width: 100%;
    height: auto;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #000; /* Navigation arrows color */
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000; /* Active dot color */
  }